#sub_lnb,
#sub_col3,
#bd iframe,
#footer,
#header,
.header_title,
.header_text,
div#wm_area,
#sitemapWrap {
    display: none !important;
}
#sub_content {
    float: none !important;
    margin: auto !important;
}